<footer class="footer has-background-primary">
    <div class="content has-text-centered has-text-white">
        <div class="columns">
            <div class="column">
                <p class="has-text-weight-bold">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-cat"></i>
                        </span>
                        <span>Adocato</span>
                    </span>
                </p>
                <p>Sistema de Adoção de Gatos</p>
            </div>
            
            <div class="column">
                <p class="has-text-weight-bold">Contato</p>
                <p>
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span>contato@adocato.com.br</span>
                    </span>
                </p>
                <p>
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-phone"></i>
                        </span>
                        <span>(00) 0000-0000</span>
                    </span>
                </p>
            </div>
            
            <div class="column">
                <p class="has-text-weight-bold">Redes Sociais</p>
                <div class="buttons is-centered">
                    <a class="button is-light is-small" href="#" aria-label="Facebook">
                        <span class="icon">
                            <i class="fab fa-facebook"></i>
                        </span>
                    </a>
                    <a class="button is-light is-small" href="#" aria-label="Instagram">
                        <span class="icon">
                            <i class="fab fa-instagram"></i>
                        </span>
                    </a>
                    <a class="button is-light is-small" href="#" aria-label="Twitter">
                        <span class="icon">
                            <i class="fab fa-twitter"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="mt-4">
            <p>
                <strong class="has-text-white">© 2025 Adocato.</strong> Todos os direitos reservados.
            </p>
            <p class="is-size-7">
                Desenvolvido com <span class="icon has-text-danger"><i class="fas fa-heart"></i></span> para os gatinhos
            </p>
        </div>
    </div>
</footer>